.container {
    /* background-color: crimson; */
}

.title {
    margin: 50px 20px;
    display: inline-block;
    font-size: 20px;
    font-family: sans-serif;
}

.input {
    outline: none;
    width: 120px;
    font-size: 20px;
}

.price {
    margin: 100px 20px;
    font-size: 20px;
    font-family: sans-serif;
}

.notice {
    margin: 0px 20px;
    font-size: 20px;
    font-family: sans-serif;
}